
# DFINITY / Motoko
.dfx/
.mops/
src/declarations/
*.pem

# Next.js
.next/
out/

# Node
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System / IDE
.DS_Store

# Ignore temporary files and folders

.dfx/
frontend/dist/
.env
*.wasm
*.mo~
.mops/
src/*.devcontainer/*
/node_modules
*/node_modules
src/*

